.demo-component{
    text-align: center;
    background: goldenrod;
    line-height: 1.4;
    padding: 1rem;
    overflow: 0;

    input {
        border-radius: 5px;
        max-width: 100%;
        //font-size: 2em;
        border:0;
        padding: 0.5em;
        box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    }
}
.todoList{
    list-style-type: none;
    padding: 1em;
}
.todo{
    display:flex;
    text-align: left;
    margin-bottom:1rem;
    padding: 0.5rem;
    line-height: 1rem;
    border-radius: 5px;
    background: rgba(255,255,255,0.5);
    > a  {
        margin-left: auto;
        text-transform: none;
        text-decoration: none;
        padding: 3px;
        font-weight: bold;
        opacity:0.5;
       &:hover{
        opacity:1;  
       }
    }
}